# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d50f40c9b0b0ad110e5f8a1b2f4c9f2838abbd1cf85ef0e1716f6219ee55225eaaf840e1752d1638a3ae8b40ded4b8983c4450da38571d0cb68f15a6097522f7

test:
  secret_key_base: 113697e9f75b2423275a4240c1b8a0bd2c4ede06f90a43cee883d1a84a756dfc994f6edb8125eceb64270590b11d8a640f2fe40f2a178fddaa3e2855c5fa9d84

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
